# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# production
/build

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace/xcuserdata
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcuserdata
ios/Podfile.lock

# Android
android/app/build/
android/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/.gradle/

# Temporary files
*.log
*.tmp
*.temp

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?